* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #E5E5E5 !important;
}

.wrapper {
  width: 1010px;
  margin: 0 auto;
  padding: 12px 0;
  background-color: #FFFFFF;
  min-height: 100vh;
}

.loading {
  margin: 0 auto;
  padding: 45vh 50px;
  text-align: center;
}

.pagination_wrapper, .error_wrapper {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.error_wrapper {
  width: 90%;
}
