.selector_wrapper {
  width: 100px;
  margin: 8px auto;
  display: flex;
}

.selector_button {
  outline: none;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.selector_button-selected {
  color: rgba(24, 144, 255, 1);
  border-bottom: 2px solid rgba(24, 144, 255, 1);
}
