.item-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-list-message {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
